nav,
.main {
  background-color: rgba(241, 243, 255, 1);
}

.navigation a {
  margin-left: 8px;
}

.btn-success {
  background-color: #5cb85f;
}

.off-navbar {
  width: 50%;
}

.title {
  font-size: 36px;
  font-weight: bold;
  padding-top: 25%;
}

.content {
  font-size: 14px;
  padding-right: 80px;
}

.picture img {
  width: 110%;
  margin-left: 10px;
  padding-top: 75px;
}

.container label {
  margin-bottom: 20px;
}

.container #cm-search {
  width: 95%;
  margin-top: -35px;
}

.form-search {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-select,
.form-control {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: black;
}

input[type="date"] {
  color: #ffffff;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}
input[type="time"]::before {
  content: attr(placeholder);
  position: absolute;
  color: black;
}

input[type="time"] {
  color: #ffffff;
}

input[type="time"]:focus,
input[type="time"]:valid {
  color: #666666;
}

input[type="time"]:focus::before,
input[type="time"]:valid::before {
  content: "";
}

.tombol-search {
  margin-top: 18px;
}
.tombol-search button {
  background-color: #5cb85f;
}

/* footer */
.footer {
  margin-top: 100px;
}

.box {
  width: 100px;
  height: 34px;
  background-color: rgba(13, 40, 166, 1);
}

.footer .footer-link a {
  color: black;
  text-decoration: none;
}

.footer .footer-link a:hover {
  color: blue;
}

@media (min-width: 320px) and (max-width: 576px) {
  html {
    overflow-x: hidden;
  }

  /* navbar */
  .offcanvas-header h5::before {
    content: "B";
    color: gold;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
  }

  .navigation a {
    margin-left: 0;
  }

  .register {
    width: 50%;
  }

  .title {
    padding-top: 100px;
    font-weight: bold;
  }
  .picture img {
    width: 100%;
    padding-top: 50px;
  }
  /* footer */
  .footer {
    margin-top: 50px;
    text-align: center;
  }

  /* form */
  .form-search {
    display: block;
  }

  .driver,
  .tanggal,
  .waktu,
  .penumpang {
    padding-bottom: 10px;
    width: 100% !important;
  }

  .box.box_1 {
    margin: auto;
  }
}
